@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

:root{
    --background: #E0E1DD;
    --text: #202124;
}

html{
    background-color: var(--background);
    font-family: 'JetBrains Mono', monospace;
    margin-top: 5em;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 0.5em;
    scroll-behavior: smooth;
}

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    padding: 0.5em;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 16pt;
    z-index: 100000;
    /* From https://css.glass */
    background: rgba(224, 225, 221, 0.45);
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(224, 225, 221, 0.3);
}

.navbar-left{
    display: flex;
    padding-left: 1em;
    gap: 1em;
    align-items: center;
}

.navbar-right{
    display: flex;
    gap: 1em;
    align-items: center;
}

.container{
    height: 100vh;
    width: 100%;
}

.home{
    height: 100vh;
    margin: 0.25em;
    padding: 0.5em;
    display: flex;
    text-align: end;
    justify-content: flex-start;
    flex-direction: column;
    gap: 0.25em;
}

.title{
    font-size: 75pt;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

.portfolio{
    height: 100vh;
    display: flex;
    justify-content: center;
}

.links{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    gap: 0.75em;
    padding-top: 1em;
}

.links-button{
    background-color: transparent;
    border: none;
    font-size: 16pt;
    font-family: 'JetBrains Mono', monospace;
    cursor: pointer;
    padding: 0.25em 0.5em;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 0.25em;

    animation: shrink 0.2s forwards;
}

.links-dark{
    background-color: var(--text);
    color: var(--background);
    padding-left: 2em;
    padding-right: 2em;
}

.links-light{
    border: var(--text) 0.125em solid;
}

.links-button:hover{
    animation: grow 0.2s forwards;
}


/* Animation: */
@keyframes grow{
    from {transform: scale(1);}
    to {transform: scale(1.05);}
}

@keyframes shrink{
    from {transform: scale(1.05);}
    to {transform: scale(1);}
}